@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg font-sans text-gray-900 antialiased;
  }
}

/* Print Styles */
@media print {
  body {
    background: white;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  @page {
    margin: 0;
  }
}
